@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<div class="bottom-bar">
    <MudButton class="bottom-button" Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary" @onclick="NavigateToHome">Home</MudButton>
    <MudButton class="bottom-button" Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary" @onclick="NavigateToMessages">Messages</MudButton>
    <MudButton class="bottom-button" Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary" @onclick="NavigateToMe">Me</MudButton>
</div>
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
